

.post{
  background: #ccc;
  padding: 10px;
  margin: 20px;
  text-align: left;
  box-shadow: 5px 10px #888888;
}

.App-link {
  color: #61dafb;
}

.form input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form {
  width: 50%;
  margin: 0 auto;
  text-align: left;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.form button{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  background: #ccc;
  border: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
